.DropDownAbout {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    gap: 33px;
    margin-bottom: 50px;
    position: relative;
}

.Dropdown__container__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.Dropdown__container__content {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    
}