.Carousel {
    position: relative;
    max-width: 1240px;
    height: 415px;
    margin: 0 auto;
}

.Carousel__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.Carousel__container__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 415px;
    transition: all 0.5s ease;
    border-radius: 25px;
}

.Carousel__container__image img {
    width: 90vw;
    height: 100%;
    object-fit: cover;
}

.Carousel__number {
    position: absolute;
    bottom: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    z-index: 1;
}


.Carousel__container__arrow {
    appearance: none;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #FFF;
}


.Carousel__container__arrow--left {
    left: 2%;
}

.Carousel__container__arrow--right {
    right: 2%;
}

.Carousel__container__arrow:hover {
    transform: translateY(-50%) scale(1.1);
    filter: brightness(0.95);
}


/* Media queries */

@media screen and (max-width: 768px) {
    .Carousel {
        height: 255px;
        margin-top: 15px;
    }

    .Carousel__container {
        height: 255px;
        border-radius: 10px;
    }
    
    .Carousel__container__image {
        height: 255px;
    }

    .Carousel__container__image img {
        width: 100%;
        min-height: 255px;
        border-radius: 10px;
    }

    .Carousel__container__arrow {
        width: 12px;
        height: 20px;
        font-size: 20px;
    }
}